<div class="inprogress-project">
  <div class="project-card">
    <div class="card-header">
      <div>
        <span class="subtitle">En curso</span>
        <p>Servicio de newsletter</p>
      </div>

      <div class="badge-list">
        <span class="badge">Open source</span>
        <span class="badge">Software libre</span>
      </div>
    </div>

    <div class="project-details">
      <p class="project-description">
        Estoy desarrollando una librería backend de código abierto que permite a
        creadores de contenido gestionar sus suscriptores y enviar correos
        masivos fácilmente. Es una alternativa libre a servicios comerciales,
        permitiendo a cualquier desarrollador implementar un sistema de
        newsletter en su web con total control sobre los datos y sin costes
        recurrentes.
      </p>

      <div class="d-flex flex-wrap gap-8"></div>

      <!-- 
      <div class="cta-section">
        <a href="#" target="_blank" class="btn btn--primary">Ver más</a>
      </div>
      -->
    </div>
  </div>
</div>
