<section class="hero">
  <div class="title">Hola soy Daniel Enriquez</div>
  <h1>
    Full Stack Developer
    <div>& Consultor SEO</div>
  </h1>
</section>
<section class="separator-container">
  <div class="separator"></div>
</section>
<section class="introduction">
  <div class="description">
    <div>Viviendo en Cádiz, España</div>
    <div>y trabajando para el mundo.</div>
  </div>

  <div class="description description-right">
    <span>Programador motivado en desarrollar sitios o herramientas web</span>
    <div>y mejorar el posicionamiento de estas</div>
  </div>
</section>
