<section class="hero">
  <div class="hero__top"></div>
  <div class="hero__bottom">
    <div class="hero__image"></div>
    <div class="d-flex align-items-center column-gap-10">
      <span>icono verde parpadeando</span>
      <span>available for work</span>
    </div>

    <h1>Daniel <span>Enriquez</span></h1>

    <p>UI Developer and Fullstack developer in Spain.</p>

    <div class="hero__social-links"></div>

    <button><span>Icono flecha arriba</span>Contact Me</button>
    <a href="">ancla flecha abajo</a>
  </div>
</section>
