<section id="experience" class="mt-100 mb-80">
  <h2>Experiencia & Proyectos <span class="line-decoration"></span></h2>

  <app-inprogress-project></app-inprogress-project>

  <ul class="timelime">
    <li class="timeline__item">
      <div>
        <span class="timeline__item__name"
          ><a
            target="_blank"
            href="https://www.linkedin.com/company/knowmad-mood"
            class="highlight"
            >Knowmad mood</a
          >
        </span>
        <span class="timeline__item__year"> 2021 - Actualidad</span>
      </div>
      <div class="timeline__item__content">
        <ul class="d-flex gap-8 mb-16 flex-wrap">
          <li class="tech-stack__item">
            <img
              width="24"
              height="24"
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/angular/angular-original.svg"
              alt="Angular"
            />
            Angular
          </li>
          <li class="tech-stack__item">
            <img
              width="24"
              height="24"
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/sass/sass-original.svg"
              alt="Sass"
            />
            Sass
          </li>
          <li class="tech-stack__item">
            <img
              width="24"
              height="24"
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-original-wordmark.svg"
              alt="Git"
            />
            Git
          </li>
          <li class="tech-stack__item">
            <img
              width="24"
              height="24"
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/bitbucket/bitbucket-original.svg"
              alt="Bitbucket"
            />
            Bitbucket
          </li>
          <li class="tech-stack__item">
            <img
              width="24"
              height="24"
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/figma/figma-original.svg"
              alt="Figma"
            />
            Figma
          </li>
        </ul>
        Desarrollo Frontend para diferentes clientes, desarrollando interfaces
        gráficas, funcionalidades y su integración.

        <ul class="mt-8">
          <li>
            - Desarrollo de maquetas visuales en base a un diseño proporcionado.
          </li>
          <li>- Creación de componentes reutilizables y personalizados.</li>
          <li>
            - Construcción de flujo de pantallas para diferentes procesos.
          </li>
        </ul>
      </div>
    </li>

    <li class="timeline__item">
      <div>
        <span class="timeline__item__name"
          >Freelance -
          <a target="_blank" href="https://pantallarota.ct.ws" class="highlight"
            >Web Pantallas Rotas</a
          >
        </span>
        <span class="timeline__item__year"> 2024 - 2025</span>
      </div>
      <div class="timeline__item__content">
        <ul class="d-flex gap-8 mb-16 flex-wrap">
          <li class="tech-stack__item">
            <img
              width="24"
              height="24"
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/wordpress/wordpress-plain-wordmark.svg"
              alt="Wordpress"
            />
            Wordpress
          </li>
        </ul>
        Desarrollo completo de una Web en Wordpress para un profesional técnico
        de reparaciones de dispositivos y consultor informático.
        <p class="mt-4">
          <i
            >No se hace cargo de los cambios que se produzcan después del
            desarrollo.</i
          >
        </p>
        <ul class="mt-8">
          <li>- Diseño y desarrollo de la web.</li>
          <li>- Creación de contenido y configuración inicial de SEO.</li>
          <li>
            - Configuración de plugins (plugin de reservas) y optimización de
            velocidad.
          </li>
        </ul>
      </div>
    </li>

    <li class="timeline__item">
      <div>
        <span class="timeline__item__name"
          >Freelance -
          <a
            href="https://play.google.com/store/apps/details?id=com.reglasdeortografia.concurso&hl=es_419"
            class="highlight"
            target="_blank"
            >Apps Concurso de Ortografía</a
          >
        </span>
        <span class="timeline__item__year">2023</span>
      </div>
      <div class="timeline__item__content">
        <ul class="d-flex gap-8 mb-16 flex-wrap">
          <li class="tech-stack__item">
            <img
              width="24"
              height="24"
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/kotlin/kotlin-original.svg"
              alt="Kotlin"
            />
            Kotlin
          </li>

          <li class="tech-stack__item">
            <img
              width="24"
              height="24"
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/swift/swift-original.svg"
              alt="Swift"
            />

            Swift
          </li>
        </ul>
        Desarrollo de una app para Android y iPhone/iPad sobre un concurso de
        ortografía basado en una Webview de la propia página web.
        <p class="mt-4">
          <i
            >No se hace cargo de los cambios que se produzcan después del
            desarrollo.</i
          >
        </p>

        <ul class="mt-8">
          <li>- Creación de la portabilidad de la web a las Apps.</li>
          <li>- Configuración de la Webview y adaptación de la página web.</li>
          <li>- Publicación en Google Play y App Store.</li>
        </ul>
      </div>
    </li>
  </ul>
</section>
