<header>
  <div>
    <p>Hola, soy <span class="highlight">Daniel Enriquez</span></p>
    <h1>
      Desarrollador Fullstack <span class="d-block">& Consultor SEO</span>
    </h1>
  </div>

  <app-menu></app-menu>
</header>

<main>
  <section id="about">
    <h2>Sobre mi <span class="line-decoration"></span></h2>

    <div class="d-flex gap-24">
      <img class="img-portrait" src="" alt="Imagen de Daniel Enriquez" />
      <div>
        <p class="section__title">
          Construyendo experiencias digitales limpias y eficientes
        </p>

        <p class="mb-16">
          Me apasiona convertir ideas en algo real, resolver problemas,
          optimizar cada detalle y hacer un desarrollo que puede marcar la
          diferencia.
        </p>

        <p class="mb-16">
          Creo en el poder de la simplicidad para crear productos digitales
          funcionales y atractivos.
        </p>

        <p class="mb-48">
          Como desarrollador fullstack, mi enfoque combina código limpio, diseño
          minimalista y tecnologías modernas.
        </p>

        <button class="mb-24">Trabajemos juntos</button>

        <div class="section__benefits">
          <div class="benefits__item">
            <span class="benefits__title">4</span>
            <span>Años de experiencia</span>
          </div>
          <div class="benefits__item">
            <span class="benefits__title">+2</span>
            <span>Proyectos completados</span>
          </div>
          <div class="benefits__item">
            <span class="benefits__title">100%</span>
            <span>Satisfacción del cliente</span>
          </div>
        </div>
      </div>
    </div>

    <ul class="tech-stack mt-56">
      <li class="tech-stack__item">
        <img
          width="24"
          height="24"
          src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/angular/angular-original.svg"
        />
        Angular
      </li>
      <li class="tech-stack__item">
        <img
          width="24"
          height="24"
          src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/nodejs/nodejs-original-wordmark.svg"
        />
        Node.js
      </li>
      <li class="tech-stack__item">
        <img
          height="24"
          width="24"
          src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/bun/bun-original.svg"
        />
        Bun
      </li>
      <li class="tech-stack__item">
        <img
          width="24"
          height="24"
          src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/express/express-original-wordmark.svg"
        />
        ExpressJS
      </li>
      <li class="tech-stack__item">
        <img height="24" width="24" src="assets/hono-icon.svg" />Honojs
      </li>
      <li class="tech-stack__item">
        <img
          height="24"
          width="24"
          src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/postgresql/postgresql-original.svg"
        />
        PostgreSQL
      </li>
      <li class="tech-stack__item">
        <img
          height="24"
          width="24"
          src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/sqlite/sqlite-original.svg"
        />
        SQLite
      </li>
      <li class="tech-stack__item">
        <img
          width="24"
          height="24"
          src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/wordpress/wordpress-plain-wordmark.svg"
        />
        Wordpress
      </li>
      <li class="tech-stack__item">
        <img
          width="24"
          height="24"
          src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/sass/sass-original.svg"
        />
        Sass
      </li>
      <li class="tech-stack__item">
        <img
          width="24"
          height="24"
          src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-original-wordmark.svg"
        />
        Git
      </li>
      <li class="tech-stack__item">
        <img
          width="24"
          height="24"
          src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original-wordmark.svg"
        />
        Github
      </li>
      <li class="tech-stack__item">
        <img
          width="24"
          height="24"
          src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/bitbucket/bitbucket-original.svg"
        />
        Bitbucket
      </li>
      <li class="tech-stack__item">
        <img
          width="24"
          height="24"
          src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/figma/figma-original.svg"
        />
        Figma
      </li>

      <li class="tech-stack__item">
        <img
          width="24"
          height="24"
          src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/kotlin/kotlin-original.svg"
        />
        Kotlin
      </li>

      <li class="tech-stack__item">
        <img
          width="24"
          height="24"
          src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/swift/swift-original.svg"
        />

        Swift
      </li>
      <li class="tech-stack__item">
        <img
          width="24"
          height="24"
          src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/csharp/csharp-original.svg"
        />
        C#
      </li>
    </ul>
  </section>

  <app-services></app-services>
  <app-experience></app-experience>
</main>
<footer>
  <a
    href="https://www.flaticon.es/iconos-gratis/desarrollador"
    title="desarrollador iconos"
    >Desarrollador iconos creados por HideMaru - Flaticon</a
  ><a
    href="https://www.flaticon.es/iconos-gratis/grafico"
    title="gráfico iconos"
    >Gráfico iconos creados por Freepik - Flaticon</a
  >
</footer>
