<div class="mt-100 mb-80" id="services">
  <h2>Servicios <span class="line-decoration"></span></h2>
  <div class="services__container">
    <div class="services__item">
      <div class="services__icon">
        <img src="assets/dev.png" alt="Icono de desarrollo" />
      </div>

      <h3 class="service__title">Desarrollo Fullstack y multiplataforma</h3>
      <p>
        Desarrollo web completas o aplicaciones tanto móviles como de escritorio
        desde cero, con tecnologías modernas y minimalistas desde el diseño
        hasta la implementación.
      </p>
    </div>

    <div class="services__item">
      <div class="services__icon">
        <img src="assets/grafico.png" alt="Icono de gráfico" />
      </div>
      <h3 class="service__title">Consultorías SEO</h3>
      <p>
        Ofrezco consultorías SEO para webs donde se identificarán los
        principales problemas y se ayudará en el desarrollo de las soluciones
        propuestas para mejorar el posicionamiento de la web.
      </p>
    </div>
  </div>
  <h2 class="h3 mt-56 mb-48 text-center">Preguntas Frecuentes</h2>
  <div class="services__asks">
    <details>
      <summary><strong>¿Qué tecnologías utilizas?</strong></summary>
      <p>
        Utilizo una variedad de tecnologías modernas como
        <strong>Angular</strong>, <strong>NodeJS</strong>, <strong>Bun</strong>,
        <strong>C#</strong> y para aplicaciones móviles y multiplataforma con
        <strong>C#</strong>.
      </p>
    </details>
    <details>
      <summary>
        <strong>¿Cuánto tiempo toma desarrollar una aplicación?</strong>
      </summary>
      <p>
        El tiempo de desarrollo depende de la complejidad del proyecto, pero
        generalmente toma entre <strong>1 a 3 meses</strong>.
      </p>
    </details>
    <details>
      <summary>
        <strong>¿Cuánto cuestan tus servicios?</strong>
      </summary>
      <p>
        El costo de mis servicios varía dependiendo de las condiciones del
        proyecto y la forma de pago preferida. Para obtener una cotización
        personalizada, por favor <a href="#contact">contáctame</a> con los
        detalles de tu proyecto.
      </p>
    </details>

    <details>
      <summary>
        <strong>¿Ofreces soporte después del desarrollo?</strong>
      </summary>
      <p>
        Sí, ofrezco soporte y mantenimiento continuo si se desea para asegurar
        que tu aplicación funcione sin problemas.
      </p>
    </details>

    <details>
      <summary>
        <strong>¿Ofreces apoyo para desarrollos en curso?</strong>
      </summary>
      <p>
        También ofrezco apoyo para desarrollos en curso optimizando el trabajo
        en equipo.
      </p>
    </details>
  </div>

  <div class="d-flex justify-content-center mt-56">
    <button (click)="scrollToEmailHandler()">Más información</button>
  </div>
</div>
