<ul class="d-flex gap-16" role="list" id="rrss" #rrss>
  <li>
    <a href="mailto:danielenriquezdeveloper@outlook.com">
      <img height="32" width="32" src="assets/outlook-icon.svg" />
    </a>
  </li>
  <li>
    <a
      href="https://www.linkedin.com/in/your-profile"
      target="_blank"
      aria-label="LinkedIn link"
    >
      <img
        width="32"
        height="32"
        src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/linkedin/linkedin-original.svg"
      />
    </a>
  </li>
  <li>
    <a
      href="https://github.com/your-username"
      target="_blank"
      aria-label="Github link"
    >
      <img
        width="32"
        height="32"
        src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original.svg"
      />
    </a>
  </li>
  <li>
    <a
      href="https://twitter.com/your-username"
      target="_blank"
      aria-label="Twitter link"
    >
      <img
        width="32"
        height="32"
        src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/twitter/twitter-original.svg"
      />
    </a>
  </li>
</ul>
