<ul class="d-flex gap-16" role="list">
  <li>
    <a
      href="mailto:danielenriquezdeveloper@outlook.com"
      aria-label="Outlook link"
    >
      <img
        height="32"
        width="32"
        src="assets/outlook-icon.svg"
        alt="Outlook icon"
      />
    </a>
  </li>
  <li>
    <a
      href="https://www.linkedin.com/in/daniel-enríquez-baena-aa1347214/"
      target="_blank"
      aria-label="LinkedIn link"
    >
      <img
        width="32"
        height="32"
        src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/linkedin/linkedin-original.svg"
        alt="LinkedIn icon"
      />
    </a>
  </li>
  <li>
    <a
      href="https://github.com/d4nld3v"
      target="_blank"
      aria-label="Github link"
    >
      <img
        width="32"
        height="32"
        src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original.svg"
        alt="GitHub icon"
      />
    </a>
  </li>
  <li>
    <a href="https://x.com/d4nld3v" target="_blank" aria-label="Twitter link">
      <img
        width="32"
        height="32"
        src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/twitter/twitter-original.svg"
        alt="Twitter icon"
      />
    </a>
  </li>
</ul>
