@use "./styles/reset";
@use "./styles/variables" as *;
@use "./styles/components/menu";
@use "./styles/utilities";

body {
  font-family: $font-family;
  font-size: $font-size-base;
  color: $black;
  background-color: $white;
}

h1 {
  font-family: $heading-family;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 45px;
  letter-spacing: 3px;
  line-height: 50px;
  font-style: italic;
}

h2 {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 18px;
  font-family: $font-family;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400;
  color: $black-muted;
  margin-bottom: 56px;

  .line-decoration {
    display: block;
    position: relative;
    background-color: $gray-light;
    height: 2px;
    flex: 1;
  }
}

.highlight {
  font-weight: 500;
  color: $color-primary;
  letter-spacing: 3px;
}

header p {
  font-size: 32px;
  margin-bottom: 16px;
  letter-spacing: 1px;
  font-family: $heading-family;
  font-style: italic;
}

.section__title {
  font-family: $heading-family;
  font-style: italic;
  font-size: 36px;
  margin-bottom: 24px;
  font-weight: 400;
}

.section__benefits {
  display: flex;
  margin-top: 32px;

  .benefits__item {
    border-left: 1px solid $gray-light;
    padding-left: 32px;
    padding-right: 16px;
    flex: 1;
    font-size: 18px;

    &:first-child {
      border-left: none;
      padding-left: 0;
    }

    .benefits__title {
      display: block;
      font-size: 36px;
      color: $color-primary;
      font-family: $heading-family;
      font-weight: 500;
    }
  }
}

.img-portrait {
  min-width: 450px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 100%;
    background-color: $color-primary;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    mask-image: linear-gradient($color-primary 90%, transparent);
  }
}

.tech-stack,
.box {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 32px;
  padding: 24px;
  border-radius: 40px;

  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1), 0 -1px 2px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
}

.tech-stack__item {
  background-color: $white;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 18px;
  color: $black-muted;
  font-family: $font-family;
  font-weight: 400;
  padding: 4px 16px 4px 8px;
  border-radius: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
}

button {
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  background-color: $color-primary;
  color: $white;
  font-size: 18px;
  font-family: $font-family;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: darken($color-primary, 10%);
  }
}

.timelime {
  display: flex;
  flex-direction: column;
  gap: 56px;
  position: relative;
  margin-top: 40px;
  padding: 32px 32px 32px 100px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50px;
    width: 2px;
    height: 100%;
    background-color: $gray-light;
    border-radius: 1px;
  }

  .timeline__item {
    padding: 0 0 0 24px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 32px;
      height: 32px;
      background-color: $color-primary;
      border-radius: 50%;
      left: -64px;
    }

    .timeline__item__name {
      font-family: $font-family;
      font-size: 20px;
      font-weight: 600;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
    .timeline__item__year {
      display: block;
      font-size: 16px;
      color: $black-muted;
      font-family: $font-family;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 2px;
    }

    .timeline__item__content {
      margin-top: 16px;
      font-size: 18px;
      font-family: $font-family;
      font-weight: 400;
    }
  }
}
.services__container {
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  gap: 32px;
  margin-top: 56px;

  .services__item {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid $gray-light;
  }

  .services__icon {
    width: 56px;
    height: 56px;
    padding: 2px;
    border-radius: 4px;
    background-color: lighten($color-primary, 10%);
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 32px;
      height: 32px;
    }
  }
}

.service__title,
.h3 {
  font-size: 24px;
  font-family: $heading-family;
  font-weight: 500;
  color: $black;
  font-style: italic;
}

.h3 {
  text-transform: none;
  font-weight: 400;
  font-size: 30px;
  justify-content: center;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 100px;
    height: 3px;
    background-color: $color-primary;
    bottom: -6px;
    left: auto;
    right: auto;
  }
}
.services__asks {
  display: flex;
  flex-direction: column;
  gap: 16px;
  details {
    padding: 16px 24px;
    cursor: pointer;
    border: 1px solid $gray-light;
    border-radius: 8px;

    summary {
      font-size: 20px;

      strong {
        margin-left: 24px;
      }

      &::marker {
        color: $color-primary;
      }
    }

    p {
      margin-top: 16px;
      font-size: 18px;
      padding-left: 47px;
    }
    a {
      color: $color-primary;
      cursor: pointer;
    }
  }
}

footer {
  background-color: $black;
  padding: 16px 32px;
  display: flex;
  flex-direction: column;
  color: $white;
  gap: 8px;
  align-items: center;
  font-size: 14px;
}
